@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .image-box {
        margin-bottom: 10px;
        margin-right: 150px;
        margin-top:10px;
        float: left;
        width:150px;
        height:200px;
    }
    .body {
        height: 800px;
    }
    .img-responsive{
        align-content:center;
        text-align:center;
        font-weight:600;
    }
</style>
<div class="body">
    <h2>
        热销图书
    </h2>
    @foreach (var item in Model.Book)
    {
        <div class="image-box">
            <a asp-page="./Books/Details" asp-route-id="@item.Id">
                <img src="@item.Img" alt="Alternate Text" />
                <span class="img-responsive">
                    @item.BookName
                </span>
            </a>
        </div>
    }
</div>